<div class="footer mt-5 pt-5 pb-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <ul class="nav justify-content-center">
            <li class="nav-item"> <a class="nav-link link-secondary" href="#"><small><i class="far fa-envelope"></i> yoprogramoar@gmail.com</small></a> </li>
            <div class="vr d-none d-sm-block">&nbsp;</div>
            <li class="nav-item"> <a class="nav-link link-secondary" href="#"><small><i class="fas fa-code-branch"></i> github.com/leonardoarprog</small></a> </li>
          </ul>
          <ul class="nav justify-content-center mt-3">
            <li class="nav-item"> <a class="nav-link link-secondary" href="#"><i class="fab fa-facebook fa-lg"></i></a> </li>
            <li class="nav-item"> <a class="nav-link link-secondary" href="#"><i class="fab fa-twitter fa-lg"></i></a> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
