<div class="container-fluid">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <h5 class="mt-5"><span class="offset-md-1 d-block">Hard & Soft Skills</span></h5>

      <div class="user-logged-in-tools">
        <div class="col-md-10 offset-md-1 text-end mt-3"><a class="btn-add btn btn-info btn-lg rounded-circle "
            href="#"></a> </div>
        <hr class="col-sm-12 h-2">
      </div>

      <ng-container *ngFor="let item of chartsData">
        <div class="col-md-10 offset-md-1">
          <p class="lead text-uppercase fw-semibold mt-5"><i
              class="fas fa-chevron-right text-info pe-1"></i>{{item.skill}}</p>
          <div class="charts-section" class="row mt-3 mb-2 mt-md-4 mb-md-4 justify-content-center">

            <ng-container *ngIf="item.tipo_grafico === 'simple'; then simple; else multi">
            </ng-container>

            <!-------------------------------------------   S I M P L E  ------------------------------------------------------>

            <ng-template #simple>

              <div *ngFor="let dato of item.datos|keyvalue" class="col-md-4 col-lg-4">
                <div class="user-logged-in-tools clearfix text-end mt-2 mb-n2"> <a
                    class="btn-edit btn btn-danger btn-sm rounded-circle ms-2" href="#"></a> <a
                    class="btn-delete btn btn-danger btn-sm rounded-circle ms-2" href="#"></a> </div>
                <div *ngIf="dato.value !== undefined" class="chart">
                  <apx-chart [series]=[dato.value] [chart]="chartOptionsSimple.chart"
                    [plotOptions]="chartOptionsSimple.plotOptions" [labels]=[dato.key]
                    [legend]="chartOptionsSimple.legend" [colors]="chartOptionsSimple.colors"
                    [responsive]="chartOptionsSimple.responsive"></apx-chart>
                </div>
              </div>

            </ng-template>

            <!------------------------------------------- /  S I M P L E  ------------------------------------------------------>

            <!-------------------------------------------    M U L T I   ------------------------------------------------------>
            <ng-template #multi>
              <div class="col-md-8 col-lg-7">
                <div class="user-logged-in-tools clearfix text-end mt-2 mb-n2"> <a
                    class="btn-edit btn btn-danger btn-sm rounded-circle ms-2" href="#"></a> <a
                    class="btn-delete btn btn-danger btn-sm rounded-circle ms-2" href="#"></a> </div>
                <div *ngIf="item.datos !== undefined" class="chart">
                  <apx-chart [series]="item.datos|keyvalueFilterArray:'value'" [chart]="chartOptionsMulti.chart"
                    [plotOptions]="chartOptionsMulti.plotOptions" [labels]="item.datos|keyvalueFilterArray:'key'"
                    [legend]="chartOptionsMulti.legend" [colors]="chartOptionsMulti.colors"
                    [responsive]="chartOptionsMulti.responsive"></apx-chart>
                </div>
              </div>
            </ng-template>
            <!-------------------------------------------  /  M U L T I   ------------------------------------------------------>

          </div>
        </div>
        <hr class="separator">
      </ng-container>

    </div>
  </div>
</div>