<div class="container-fluid">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <h5 class="mt-5"><span class="offset-md-1 d-block">Proyectos</span></h5>
        <div class="user-logged-in-tools">
          <div class="col-md-10 offset-md-1 text-end mt-3"><a class="btn-add btn btn-info btn-lg rounded-circle" href="#"></a> </div>
          <hr class="col-sm-12 h-2">
        </div>
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <div class="user-logged-in-tools clearfix text-end mt-2 mb-n5"><a class="btn-edit btn btn-danger btn-sm rounded-circle ms-2" href="#"></a><a class="btn-delete btn btn-danger btn-sm rounded-circle ms-2" href="#"></a></div>
            <p class="lead text-uppercase fw-semibold mt-5 mb-0"><i class="fas fa-chevron-right text-info pe-1"></i>Proyecto Nro. 1</p>
            <p class="lead"> 2012-2015 </p>
            <p class="fw-light text-justify">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo. </p>
            <a class="btn btn-info btn-sm mt-3 mb-3"><small class="fw-bold text-uppercase ps-3 pe-3">Ver Proyecto</small></a>
            <div class="row mt-5">
              <div class="col-sm-4"> <a href="#" data-bs-toggle="modal" data-bs-target="#proyecto-1"><img class="img-fluid" src="../assets/img/proyecto-1-preview.webp" alt="Proyecto Nro 1" title="Proyecto Nro 1"/></a> 
                
                <!-- Modal -->
                <div class="modal fade" id="proyecto-1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <p class="lead text-uppercase fw-semibold mt-0 mb-0 modal-title"><i class="fas fa-chevron-right text-info pe-1"></i>Proyecto Nro. 1</p>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body"> <img class="img-fluid" src="../assets/img/proyecto-1-preview.webp" alt="Proyecto Nro. 1 - 1" title="Proyecto Nro. 1 - 1"/> </div>
                    </div>
                  </div>
                </div>
                
                <!-- / Modal --> 
                
              </div>
            </div>
          </div>
        </div>
        <hr class="separator">
      </div>
    </div>
  </div>