<app-modal>
    <div modal-header>
        <p class="lead text-uppercase fw-semibold mb-0 lh-1"><i class="fas fa-chevron-right text-info pe-1"></i>EDITAR EDUCACIÓN
        </p>
    </div>

    <div class="row">
        <div class="col-md-6 mt-4 mx-auto">
            <form (ngSubmit)="onUpdateEducacion()" novalidate #f="ngForm">
                <div class="mb-4">
                    <label class="form-label" for="tipoEducacion">Tipo de educación</label>

                    <select class="form-select" name="tipoEducacion" [(ngModel)]="educacion.tipoEducacion" [compareWith]="compareObjects">
                        <option [ngValue]="item" *ngFor="let item of formTiposEducacion">{{item.nombreTipoEducacion}}</option>
                    </select>

                </div>
                <div class="mb-4">
                    <label class="form-label" for="nombreEstablecimiento">Nombre del establecimiento</label>
                    <input type="text" class="form-control" id="nombreEstablecimiento" name="nombreEstablecimiento"
                    [(ngModel)]="educacion.nombreEstablecimiento" required>
                </div>

                <div class="form-group form-check mt-4 mb-4">
                    <input type="checkbox" id="enCursoActual" class="form-check-input" [(ngModel)]="educacion.enCursoActual" name="enCursoActual"/>
                    <label class="form-label" for="enCursoActual" class="form-check-label">En curso actual</label>
                   
                </div>

                <div class="mb-4">
                    <label class="form-label"  for="fechaIngreso">Fecha ingreso</label>
                    <input type="date" class="form-control" id="fechaIngreso" name="fechaIngreso"
                    [(ngModel)]="educacion.fechaIngreso" required>
                </div>
                <div class="mb-4">
                    <label class="form-label" for="fechaEgreso">Fecha egreso</label>
                    <input type="date" class="form-control" id="fechaEgreso" name="fechaEgreso"
                    [(ngModel)]="educacion.fechaEgreso" [disabled]="educacion.enCursoActual === true" required>
                </div>
                <div class="mb-4">
                    <label class="form-label" for="tituloObtenido">Título obtenido</label>
                    <input type="text" class="form-control" id="tituloObtenido" name="tituloObtenido"
                    [(ngModel)]="educacion.tituloObtenido" required>
                </div>
 
                <div class="mb-4">
                <label class="form-label" for="descripcion" class="form-label">Descripción</label>
                <textarea [(ngModel)]="educacion.descripcion" class="form-control" id="descripcion" name="descripcion"  maxlength="250" rows="3" required></textarea>
            </div>

                <div class="mb-4">
                    <label class="form-label" for="isologoEstablecimiento">Isologo del establecimiento (Máx. 500KB)</label>
                    <input type="file" accept="image/*" [(ngModel)]="file" id="isologoEstablecimiento" name="isologoEstablecimiento" class="form-control mb-3" (change)="onImagenUpload($event)">
                </div>


                <div class="mb-4 pt-1">
                    <button class="btn btn-primary btn-block" [disabled]="!f.valid">
                        <i class="fas fa-pencil-alt"> </i> Actualizar </button>
                </div>
            </form>
        </div>
    </div>
</app-modal>
