<div class="container-fluid">
  <div class="row">
    <div class="col-lg-10 offset-lg-1 experiencia">
      <h5 class="mt-5"><span class="offset-md-1 d-block">Experiencia</span></h5>
      <div class="user-logged-in-tools">
        <div class="col-md-10 offset-md-1 text-end mt-3"><a class="btn-add btn btn-info btn-lg rounded-circle "
            href="#"></a> </div>
        <hr class="col-sm-12 h-2">
      </div>
      <div class="col-md-10 offset-md-1">
        <div class="user-logged-in-tools clearfix text-end mt-2 mb-n5"><a
            class="btn-edit btn btn-danger btn-sm rounded-circle ms-2" href="#"></a><a
            class="btn-delete btn btn-danger btn-sm rounded-circle ms-2" href="#"></a></div>
        <div class="row mt-4 mb-3 mt-md-5 mb-md-5">
          <div class="col-md-2 col-lg-2">
            <p class="lead"> 2012-2015 </p>
            <img class="img-fluid d-block col-6 col-md-12 col-lg-9 mb-4"
              src="https://i.ibb.co/t3kddhw/isologo-empresa.webp" alt="Nombre de Empresa" title="Nombre de Empresa" />
          </div>
          <div class="col-md-10 col-lg-10">
            <p class="lead text-uppercase fw-semibold mb-0"><i class="fas fa-chevron-right text-info pe-1"></i>Título
              del puesto</p>
            <p class="lead">Nombre de Empresa</p>
            <p class="fw-light text-justify">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
              ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
              ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa
              quis enim. Donec pede justo, </p>
          </div>
        </div>
      </div>
      <hr class="separator">
    </div>
    <div class="col-lg-10 offset-lg-1 educacion">
      <h5 class="mt-5"><span class="offset-md-1 d-block">Educación</span></h5>
      <div class="user-logged-in-tools">
        <div class="col-md-10 offset-md-1 text-end mt-3"><a class="btn-add btn btn-info btn-lg rounded-circle "
            href="#"></a> </div>
        <hr class="col-sm-12 h-2">
      </div>
      <div class="col-md-10 offset-md-1">
        <div class="user-logged-in-tools clearfix text-end mt-2 mb-n5"><a
            class="btn-edit btn btn-danger btn-sm rounded-circle ms-2" href="#"></a><a
            class="btn-delete btn btn-danger btn-sm rounded-circle ms-2" href="#"></a></div>
        <div class="row mt-4 mb-3 mt-md-5 mb-md-5">
          <div class="col-md-2 col-lg-2">
            <p class="lead"> 2012-2015 </p>
            <img class="img-fluid d-block col-6 col-md-12 col-lg-9 mb-4"
              src="https://i.ibb.co/1MRg2Ft/isologo-institucion-educativa.webp" alt="Nombre de Institución Educativa"
              title="Nombre de Institución Educativa" />
          </div>
          <div class="col-md-10 col-lg-10">
            <p class="lead text-uppercase fw-semibold mb-0"><i class="fas fa-chevron-right text-info pe-1"></i>Título
              Obtenido</p>
            <p class="lead">Nombre de Institución Educativa</p>
            <p class="fw-light text-justify">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
              ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
              ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa
              quis enim. Donec pede justo, </p>
          </div>
        </div>
      </div>
      <hr class="separator">
    </div>


  </div>
</div>