<app-modal>
    <div modal-header>
        <p class="lead text-uppercase fw-semibold mb-0 lh-1"><i class="fas fa-chevron-right text-info pe-1"></i>EDITAR
        </p>
    </div>
    <div class="row" *ngIf="dbValor">
        <div class="col-md-6 mt-4 mx-auto">
            <form (ngSubmit)="updateValor()" novalidate #f="ngForm">

                <div class="mb-4">
                    <label for="dbValor" class="form-label">Sobre mi</label>
                    <textarea [(ngModel)]="dbValor.valor" class="form-control" id="dbValor" name="dbValor" rows="6"
                        maxlength="250" placeholder="Completar" required></textarea>
                </div>

                <div class="mb-4 pt-1">
                    <button class="btn btn-primary btn-block" [disabled]="!f.valid">
                        <i class="fas fa-pencil-alt"></i> Actualizar</button>
                </div>
            </form>
        </div>
    </div>
</app-modal>
